COMPARE_AI_PROVIDER=ollama
COMPARE_OLLAMA_BASE_URL=
COMPARE_OLLAMA_MODEL=
COMPARE_OLLAMA_API_KEY=
COMPARE_OLLAMA_HEADERS_JSON=
COMPARE_NOSTR_RELAY_URLS=
COMPARISON_CACHE_NAMESPACE=event-comparisons:v1
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
NDK_SSR_CACHE_NAMESPACE=wikifreedia:ssr:v1
NDK_SSR_CACHE_EXPIRATION_SECONDS=3600
NDK_SSR_CACHE_DEBUG=false
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
